* {
  font-family: Georgia, serif;
}

Button {
  border-radius: "0px";
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #FF7900;
  border-radius: 0px;
}

.anticon {
  font-size: 19px;
}

.item {
  margin-top: 50px;
}

.Input {
  border: 0px;
}


.custom-sider .ant-layout-sider-trigger {
  background-color: #000000;
}


.custom-sider .ant-layout-sider-trigger i {
  color: #ffffff; 
}



.custom-sider .ant-menu-item-icon {
  font-size: 30px;
  
}

.custom-sider .ant-menu-item {
  margin-bottom: 20px; 
}


.custom-form .ant-form-item-label {
  width: 154px;
  overflow:hidden;
  text-align: left !important;
}


Input{
  border-radius: 0px;
}

.customButton{
  
    background: #FF7900;
    color: #ffffff;
    margin-left: 550%;
    
  
}
.customButton:hover{
  color: #FF7900;

}

.ant-switch {
  background-color: rgba(128, 128, 128, 0.821);
}

.blue-circle {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  background-color: blue;
}

.red-circle {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  background-color: red;
}
